#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;

}

#btnReturn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#shootBtn {
    z-index: 1;
}