html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#btnReturn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#shootBtn {
    z-index: 1;
    width: 20%;
    height: auto;
}

canvas {
    height: 70%;
    width: auto;
}

video {
    width: 100vw;
    height: 100vh;
}